@model Wavyy.Models.Games.UserGameViewModel

<h1>My Games</h1>

<div class="container">
    <div class="row">
        @foreach (var game in (dynamic)TempData["myGames"])
        {
            <div class="col-sm-3">
                <div class="card game-card mx-auto">
                    @*<img src="@game.CoverUrl" alt="Card image cap" class="img-responsive img-center">*@
                    <div class="card-body">
                        @*<h5 class="card-title">@game.Name</h5>*@
                        <p class="card-text"></p>
                        <form asp-controller="Game" asp-action="SingleGame" method="get"><input type="hidden" name="id" value="@game.GameID"><input type="submit" value="View Game"></form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>