@model Wavyy.Models.SearchTerms

<form asp-controller="Search" asp-action="ByName" method="post">
    <div class="form-group">
        <input asp-for="UserInput" />
        <input type="submit" value="Search By Name" />
    </div>
</form>

<br />
@if (TempData["SearchResults"] != null)
{
    await Html.RenderPartialAsync("SearchResults", new List<Wavyy.Models.Games.Game>());
}

@ViewBag.Message
