@model Wavyy.Models.SearchTerms

<form asp-controller="Search" asp-action="Index" method="post">
    <div class="form-group"><input asp-for="UserInput" /></div>
    <div class="form-group"><input type="submit" /></div>  
</form>

@ViewBag.Message
