@model Wavyy.Models.SearchTerms

<form asp-controller="Search" asp-action="ByName" method="post">
    <div class="form-group">
        <input class="form-control" asp-for="UserInput" />
        <input class="form-control" type="submit" value="Search By Name" />
    </div>  
</form>

<form asp-controller="Search" asp-action="ById" method="post">
    <div class="form-group">
        <input class="form-control" asp-for="UserInput" />
        <input class="form-control" type="submit" value="Search By ID" />
    </div>
</form>

@ViewBag.Message
