@model Wavyy.Models.SearchTerms

<div class="container">
    <form asp-controller="Search" asp-action="ByName" method="post">

        <div class="input-group input-group-lg">
            <input type="text" class="form-control" asp-for="UserInput" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>

<br />
@if (TempData["SearchResults"] != null)
{
    await Html.RenderPartialAsync("SearchResultsPartial", new List<Wavyy.Models.Games.Game>());
}

@ViewBag.Message
