<div class="container">
    <div class="row">
        @foreach (var game in (dynamic)TempData["SearchResults"])
        {
            <div class="col-sm-2">
                <div class="card bg-warning game-card mx-auto">
                    <img src="@game.Cover.Url" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@game.Name</h5>
                        <p class="card-text"></p>
                        <form asp-controller="Search" asp-action="SingleGame"><input type="hidden" asp-for="id" value="@game.DbId"><input class="btn" type="submit" value="View Game" /></form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>