@{
    ViewBag.Title = "Wavyy";
}

<div class="jumbotron">
    <h1>Wavyy</h1>
    <p class="lead">A way to share, collect, and trade physical media.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Share</h2>
        <p>
            Wavyy provides a platform for collectors of movies, music, and video games to catalog their collections, and share them with the world!
        </p>
        <p><a class="btn btn-default" href="">Sign-up! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trade</h2>
        <p>Collectors can select items from thier inventory that they can offer up for trade.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Collect</h2>
        <p>Collectors can create a Want List that allows them to make offer a great trade.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>